* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    color: #333;
}

/* __________________book details__________________ */

.book-details-image img {
    width: 25vw;
    /* border-radius: 10px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.book-details-image {
    border: #dadada 1px solid;
    padding: 50px;
    width: 40vw;
}

.detailsflex {
    display: flex;
    flex-direction: row;
    /* gap: 10vw; */
    gap: 60px;
    margin: 40px 0 20px 0;
}

.specificaties h3 {
    margin-top: 40px;
}


.specificaties h4 {
    font-size: 0.9em;
    margin-top: 20px;
}

.omschrijving h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.checkInfo {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    gap: 5px;
    /* margin-right: 20px; */
}

.book-details {
    display: flex; 
    flex-direction: column; 
    margin-top: 20px;
    margin-right: 10vw;
    margin-left: 10vw;
}

/* .secondflex {
    margin: 0 40px;
} */

.checkInfo img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.check-1 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    font-size: 0.8em;
    color: #1ab13d;
}

.check-2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    font-size: 0.8em;
    color: #1ab13d;
}

.price {
    font-size: 2em;
    font-weight: bold;
    color: #1ab13d;
    padding: 0.5em 0;
}

.book-details-info h1 {
    font-size: 2em;
    font-weight: normal;
    margin-top: 30px;
}

.book-details-info {
    width: 80vw;
}

.book-details-info .auteur {
    font-size: 1.2em;
    margin-top: 0.6em;
}

.subgenre {
    font-size: 1em;
    margin-top: 0.6em;
    color: gray;
}

.pricesection {
    border-top: #dadada 1px solid;
    border-bottom: #dadada 1px solid;
    padding: 20px 0;
    margin-top: 20px;
}

.add-to-cart img {
    width: 20px;
}

.add-to-cart a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    /* margin-top: -1px; */
    font-size: 0.7em;
} 

.add-to-cart {
    background-color: #ff6f61;
    width: 98%;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 25px; */
    text-align: center;
    border: none;
    border-radius: 25px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease; 
    margin-top: 15px;
    margin-left: -9px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.add-to-cart:hover {
    background-color: #ff4f3a; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.cartInfo .info {
    display: flex;
    flex-direction: row;
    gap: 0px;
    font-size: 0.8em;
    color: #666666;
    margin-top: 3px;
}

.info img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.cartInfo {
    border-bottom: #dadada 1px solid;
    padding-bottom: 25px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 530;
}

.omschrijving p {
    font-size: 0.85em;
    line-height: 1.4em;
    border-bottom: #dadada 1px solid;
    padding-bottom: 40px;
}

h4 {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 700;
}

.specificaties .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.author p{
    margin: 0;
}

.author {
    background-color: #ededed;
    padding: 5px 5px;
    font-size: 1em;
}


.betrokkenen .uitgeverij {
    padding: 5px 5px;
}

.grey {
    background-color: #ededed;
    padding: 5px 5px;
}

.white {
    padding: 5px 5px;
}

.author-info-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: right;
}

.author-info {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 40px 0;
    border-top: #dadada 1px solid;
    padding-top: 40px;
}

.review {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    border-top: #dadada 1px solid;
    border-bottom: #dadada 1px solid;
    padding: 10px 0;
}

.write-review img {
    width: 17px;
}

.write-review a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    /* margin-top: -1px; */
    font-size: 0.7em;
} 

.write-review {
    background-color: #ff6f61;
    width: 150px;
    padding-top: 13px;
    padding-bottom: 13px;
    /* padding-left: 25px; */
    text-align: center;
    border: none;
    border-radius: 25px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease; 
    margin-top: 15px;
    margin-left: -9px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.2em;
}

.write-review:hover {
    background-color: #ff4f3a; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin: 0px 20px; */
    padding-top: 30px;
}

.review-form span {
    color: red;
    font-size: 1.1em;
}

.review-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-form input, textarea {
    width: 60vw;
}

input  {
    /* height: 30px; */
    padding: 10px;
}

textarea {
    padding: 10px;
    height: 100px;
}

.post {
    background-color: #ff6f61;
    width: 60vw;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 25px; */
    text-align: center;
    border: none;
    border-radius: 25px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease; 
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 8px;
    font-size: 0.9em;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    width: 22px;
    height: 22px;
    background: url('../images/emptystar.svg') no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.stars input[type="radio"]:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    background: url('../images/star.svg') no-repeat center;
    background-size: cover;
}

.score {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.review-form p, label {
    font-size: 0.9em;
}

/* ___________________more books_________________ */


.products {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 210px;
}

.scroll-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
}


.product-item {
    display: flex;
    flex-direction: row;
    flex: 0 0 calc(25% - 16px);
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 100%; 
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    transition: transform 0.3s;
    scroll-snap-align: start;
    box-sizing: border-box;
    position: relative;
}


.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    cursor: pointer;
    z-index: 10;
    border-radius: 80px;
    background: #ff6f61;
    border: none;
}

.scroll-btn:hover {
    background: #ff4f3a;
}

.scroll-btn.left-btn {
    left: -20px;
}

.scroll-btn.right-btn {
    right: -20px;
}

.scroll-btn img {
    width: 30px;
}
.products::-webkit-scrollbar {
    display: none; 
}

.product-item img {
    width: 100px;
    height: 170px;
    border-radius: 5px;
}

.product-info {
    margin-left: 15px;
    /* display: grid; */
    justify-content: space-between;
    height: 10px;
}


.product-info h3 {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: normal;
}

h3 {
    margin: 5px 0;
}

.product-info .product-author {
    color: #555;
    font-size: 0.85em;
    margin-bottom: 5px;
}

.product-info .product-price {
    color: #ff5722;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

.product-info .description {
    font-size: 0.8em;
}

.product-info .type {
    font-size: 0.7em;
    color: #7e7e7e;
    margin-bottom: 1em;
}

/* .product-item:hover {
    transform: scale(1.05);
} */

.firstflex {
    margin-right: 2em;
    margin-left: 0.3em;
}
.secondflex div {
    margin-bottom: 0px 10px 5px 10px;
}

.secondflex .stock {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(93, 160, 62);
}


.product-add-to-cart a {
    color: white;
    text-decoration: none;
    font-size: 11px; 
} 

.product-add-to-cart img {
    width: 20px;
    height: 20px;
}

.product-add-to-cart {
    background-color: #ff6f61;
    padding: 10px 10px;
    text-align: center;
    border: none;
    border-radius: 25px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    position: absolute;
    bottom: 13px;
    right: 12px;

}

.product-add-to-cart:hover {
    background-color: #ff4f3a; 
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.stock img {
    width: 15px;
    height: 17px;
}

.bestsellers {
    margin: 20px 80px 20px 80px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.section-header h2 {
    font-size: 1.3em;
}

.view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    background-color: #ff6f61;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 5px;
    text-decoration: none;
    border-radius: 5px;
    border-radius: 0px 41px 41px 41px;
    text-wrap: nowrap;
}

.view-all img {
    width: 25px;
}

.product-info a {
    color: #333;
    text-decoration: none;
}

/* _______________________CATEGORIES______________________ */

#categories {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FCF6F2;
    width: 100%;
}

#categories a {
    color: #1d1d1d;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 5px;
    transition: background-color 0.1s, color 0.2s;
}

#categories a:hover {
    color: #ff5722;
}

/* #categories a:visited {
    color: #ff5722;
} */

#categories a:active {
    color: #1d1d1d;
}

.product-info a {
    color: #333;
    text-decoration: none;
}

.product-info a {
    color: #333;
    text-decoration: none;
}

.author-info-details p {
    font-size: 0.9em;
}


/* _________________HAMBURGER____________________ */

.checkbtn {
    display: none;
    color: white;
    cursor: pointer;
}

.checkbtn img {
    width: 35px;
}

#popup {
    display: none;
   }

#check {
    display: none;
}

/* ________________________FILTER________________________ */    

.filters {
    justify-content: space-between;
}


.product-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    /* margin-left: 40px;
    margin-right: 40px; */
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.filters select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    display: flex;  
    flex-direction: column;
}

.filter-title{
    font-weight: bold;
}

.filters input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.filters button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ff5722;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.filters button:hover {
    background-color: #ff8a50;
}



/* ____________________MEDIA QUERIES______________________ */

@media (max-width: 910px){
    .book-details-image {
        border: #dadada 1px solid;
        padding: 50px 50px 50px 50px;
    }

    .book-details-image img {
        padding-top: 2vw;
    }
    
    .book-details-image {
        border: #dadada 1px solid;
        /* padding: 5vw; */
        width: 40vw;
    }
}


@media (max-width: 850px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-info .product-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        -moz-line-clamp: 5;
        -ms-line-clamp: 5;
        line-clamp: 5; 
    }
}


@media (max-width: 768px) {
    .detailsflex {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
  
    .book-details-image {
        border: #dadada 1px solid;
        padding: 5px 50px 5px 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-title {
        font-size: 0.9em;
    }
    .product-author {
        font-size: 0.7em;
    }
    
}

@media (max-width: 600px) {
        #categories {
            display: none;
        }
        #popup a:hover{
            border: rgba(255, 0, 0, 0.5) 1px solid;
            scale: 1.1;
        }
    
        .checkbtn {
            display: block;
            font-size: 5rem;
            position: absolute;
            top: 102px;
            left: 36px;
        }
    
        #popup {
            display: none;
            justify-content: center;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            gap: 15px;
            text-align: center;
            margin: 10px 0;
            padding-left: 10%;
            padding-right: 10%;
            background-color: #FCF6F2;
            width: 100%;
        }
    
        #check:checked ~ #popup {
            display: flex;
           }
        
        #popup a {
            color: #1d1d1d;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
            padding: 10px 0px;
            border-radius: 5px;
            transition: background-color 0.1s, color 0.2s;
        }
        
        #popup a:hover {
            color: #ff5722;
        }

        .review-form input, textarea {
            width: 100%;
        }

        .post {
            width: 100%;
        }

        
        .book-details {
            margin-right: 40px;
            margin-left: 40px;
        }

        .bestsellers {
            margin: 20px 40px 20px 40px;
        }
          
    .book-details-image {
        border: #dadada 1px solid;
        padding: 5px 50px 5px 43px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 425px) {
    .secondflex .stock,
    .secondflex .stars,
    .secondflex .add-to-cart {
        display: none;
    }

    .firstflex .description {
        display: none;
    }
    .product-info {
        grid-template-columns: 1fr;
    }

    .secondflex {
        margin-right: 0;
        /* margin-left: 0.3em; */
    }
}

@media (max-width: 460px) {
    .checkbtn {
        top: 150px;
    }
}

@media (max-width: 378px) {
    .checkbtn {
        top: 163px;
    }
}